/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
/*tady bude můj css*/

body {
  display: flex;
  margin: 3rem auto;
  padding: 3rem;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(#615dad, #ffc8da);

  background-repeat: no-repeat;
  justify-content: center;
}

.obal {
  display: flex;
  flex-direction: column;

  width: 360px;
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
  color: white;
  margin: auto;
}

img {
  border-radius: 5px 5px 0 0;
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  letter-spacing: 1px;
}

.popis-hry {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;

  padding: 0px 20px 30px 20px;
  margin: 0px;
  line-height: 1.4;
  font-size: smaller;
}

.tlacitka {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  flex-basis: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.btn-green {
  background-color: #1fcca4;
  padding: 15px;
  margin: 0 0 2px 0;
  color: white;
  text-decoration: none;
}

.btn-green:hover {
  background-color: #1cbb96;
}

.btn-blue {
  background-color: #0197f6;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.btn-blue:hover {
  background-color: #0090e9;
}

/* ---- CSS pro stránku PRAVIDLA ---- */
/* ---------------------------------- */

.obal-pravidla {
  width: 360px;
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
  color: white;
  margin: auto;
  justify-content: left;
}

.text-pravidla {
  padding: 0px 20px 0 20px;
}

.odrazky {
  text-align: left;
  padding-left: 30px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.ikona-kolecko,
.ikona-krizek {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
.obrazky-ukazky {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

figure {
  margin: 10px;
  max-width: 100%;
}

figcaption {
  padding: 3px;
  text-align: center;
  font-size: 0.8em;
}

#obr1,
#obr2,
#obr3,
#obr4,
#obr5,
#obr6 {
  margin: 0;
  border-radius: 0px;
  max-width: 100%;
}

/* tablet */
@media (min-width: 540px) {
  .obal {
    width: 540px;
  }
  .obrazky-ukazky {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .obal-pravidla {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 540px;
  }
  figure {
    display: block;
    flex-direction: row;
    max-width: 40%;
  }
}

/* desktop */
@media (min-width: 1000px) {
  .obal .obal-pravidla {
    width: 540px;
  }
}
/* ---- CSS pro stránku Hra ---- */
/* ----------------------------- */

.obal-hra {
  max-width: 80vmin;
  display: block;
  margin: auto;
}
.nadpis-piskvorky-hra {
  background-color: transparent;
  color: white;
  font-size: 4rem;
  text-align: center;
}

.menu-hra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 1.7rem;
  margin: 0 0 0.5rem;
}

.kdo-hraje {
  display: block;
  align-items: center;
}

.ikona-kolecko {
  margin-bottom: -0.25rem;
}

.ikony a {
  display: inline-block;
  text-align: center;
}

.ikona-domecek {
  text-decoration: none;
  background-color: #1fcca4;
  padding: 0.5rem;
  color: white;
  border-radius: 7px;
  width: 3rem;
}

.ikona-domecek:hover {
  background-color: #1cbb96;
}

.ikona-restart {
  text-decoration: none;
  background-color: #0197f6;
  padding: 0.5rem;
  width: 3rem;

  color: white;
  border-radius: 7px;
  margin-right: auto;
}

.ikona-restart:hover {
  background-color: #0090e9;
}
/* --- hrací pole (BOX) --- */
.box {
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  width: 80vmin;
  height: 80vmin;
  background: linear-gradient(#c3b8cc 0%, #fcd9e5 100%);
  padding: 0;
}
.box__button {
  flex-basis: 10%;
  border: solid 1px #000000;
  color: transparent;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  background-position: center;
}

.box__button:hover {
  background-color: #b5a8c0;
}

/* focus funguje jen bckg-color... */
.box__button:focus {
  background-color: #918799;
  border-color: #918799;
  box-shadow: #73697a;
}

.kolecko {
  background-image: url('obrazky/kolecko.svg');
  background-repeat: no-repeat;
}

.krizek {
  background-image: url('obrazky/krizek.svg');
  background-repeat: no-repeat;
}
