/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
/*tady bude můj css*/

body {
  display: flex;
  margin: 3rem auto;
  padding: 3rem;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(#615dad, #ffc8da);

  background-repeat: no-repeat;
  justify-content: center;
}

.obal {
  display: flex;
  flex-direction: column;

  width: 360px;
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
  color: white;
  margin: auto;
}

img {
  border-radius: 5px 5px 0 0;
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  letter-spacing: 1px;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;

  padding: 0px 20px 30px 20px;
  margin: 0px;
  line-height: 1.4;
  font-size: smaller;
}

.tlacitka {
  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 0;

  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.btn-pravidla {
  background-color: #1fcca4;
  padding: 15px;
  margin: 0 0 2px 0;
  color: white;
  text-decoration: none;
}

.btn-pravidla:hover {
  background-color: #1cbb96;
}

.btn-zacithrat {
  background-color: #0197f6;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.btn-zacithrat:hover {
  background-color: #0090e9;
}

/*CSS pro stránku Pravidla*/

.obal-pravidla {
  width: 360px;
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
  color: white;
  margin: auto;
  justify-content: left;
}

.text-pravidla {
  padding: 0px 20px 0 20px;
}

.odrazky {
  text-align: left;
  padding-left: 30px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.ikona-kolecko,
.ikona-krizek {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
.obrazky-ukazky {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

figure {
  margin: 10px;
  max-width: 100%;
}

figcaption {
  padding: 3px;
  text-align: center;
  font-size: 0.8em;
}

#obr1,
#obr2,
#obr3,
#obr4,
#obr5,
#obr6 {
  margin: 0;
  border-radius: 0px;
  max-width: 100%;
}

/* ---HOTOVO: spodek-tlačítka--- (tlačítko Začít hrát už je nadefinované výše, propisuje se i na tuto stránku) */

.tlacitka-v-pravidlech {
  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 0;

  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.btn-uvodni-stranka {
  background-color: #1fcca4;
  padding: 15px;
  margin: 0 0 2px 0;
  color: white;
  text-decoration: none;
}
.btn-uvodni-stranka:hover {
  background-color: #1cbb96;
}

/* tablet */
@media (min-width: 540px) {
  .obrazky-ukazky {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .obal-pravidla {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 540px;
  }
  figure {
    display: block;
    flex-direction: row;
    max-width: 40%;
  }
}

.tlacitka-v-pravidlech {
  margin: auto 0 0 0;
  flex-grow: 1;
}

/* desktop 
 figure {
    display: block;
    flex-direction: column;
    max-width: 40%;
  }
 */
